<div class="hero-unit">
  <div class="container">
    <h1>Welcome</h1>
    <p class="lead">
      To your Ruby On Rails Template!
      <% if !current_user %>
        <a class="btn btn-lg btn-success" href="/signup">Sign Up<span class="fa fa-check"></span></a>
      <% end %>
    </p>
  </div>
</div>
<div class="container-fluid">
  <div class="selling-points row">
    <div class="point col-md-4">
      <h2>User Registration & Login</h2>
      <p>
        This app is configured to use Devise for User Registration & Login
      </p>
    </div>
    <div class="point col-md-4">
      <h2>BootStrap</h2>
      <p>
        Includes Bootstrap-sass gem for formatting your views
      </p>
    </div>
    <div class="point col-md-4">
      <h2>Font Awesome</h2>
      <p>
        Includes Font Awesome icons.
      </p>
    </div>
  </div>
</div>
